@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1763973786352') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mobilephone:before {
  content: "\e791";
}

.icon-comment:before {
  content: "\e8e8";
}

.icon-browse:before {
  content: "\e6e4";
}

.icon-customer-service:before {
  content: "\e66a";
}

.icon-search:before {
  content: "\e67d";
}

.icon-arrow-left-bold:before {
  content: "\e685";
}

.icon-arrow-right-bold:before {
  content: "\e687";
}

.icon-comment1:before {
  content: "\e634";
}

.icon-favorites-fill:before {
  content: "\e63b";
}

.icon-cart-full:before {
  content: "\e826";
}

